*.class
/webPageImages
*.versionsBackup
.settings/
.classpath
.project
/bin
*.received.*
*.queryresults.*
# Package Files #

*.war
*.ear
test-output/
.DS_Store
target
.idea
*.iml
**/target
.vscode/
build/venv*/
__pycache__/
**/.jqwik-database
*.bak

.gitmessage
