*.class
/webPageImages
*.versionsBackup
.settings/
.classpath
.project
/bin
*.received.*
# Package Files #

*.war
*.ear
test-output/
.DS_Store
target
.idea
*.iml
**/target
.vscode/
build/venv*/
__pycache__/

approvaltests-tests/src/test/java/org/approvaltests/OptionsTest.verifyFileApprovedFileCreation.approved.txt
