name: FormatJava
on:
  push:
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '11'
      - name: Format Code
        run: mvn package -DskipTests=true
      - name: Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "a   reformat code" -a  || echo "nothing to commit"
          remote="https://${GITHUB_ACTOR}:${{secrets.GITHUB_TOKEN}}@github.com/${GITHUB_REPOSITORY}.git"
          branch="${GITHUB_REF:11}"
          git push "${remote}" ${branch} || echo "nothing to push"
        shell: bash
