name:  Run tests

on:
  push:
  pull_request:
  workflow_dispatch:

# Cancel existing executions when new commits are pushed onto the branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        java: 
            # https://www.oracle.com/java/technologies/java-se-support-roadmap.html#:~:text=Oracle%20Java%20SE%20Product%20Releases
            - '17'
            - '21'
            - '24'
            - '25'
        os: 
            - ubuntu
            - windows
            - macos

    steps:
    - uses: actions/checkout@v5
    - name: Set Java version for matrix testing
      run: echo "zulu-${{ matrix.java }}" > .java-version
      shell: bash
    - uses: jdx/mise-action@v3
    - run: ./set_formatting_off.sh
      shell: bash
    - name: Build and Test
      run: |
        java -version
        mvn --version
        ./build_and_test
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: always()
      with:
        report_paths: '**/target/surefire-reports/*.xml'
        detailed_summary: true
  auto-merge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - name: auto-merge
        if: |
          github.actor == 'dependabot[bot]' &&
          github.event_name == 'pull_request'
        run: |
          gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          # this secret needs to be in the settings.secrets.dependabot
          GITHUB_TOKEN: ${{secrets.GH_ACTION_TOKEN}}
