name:  Run tests on JDK8

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-21-run-8:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: jdx/mise-action@v2
    - name: Set Java version for building (JDK 21)
      run: echo "21" > .java-version
      shell: bash
    - name: Turn off formatting
      run: ./set_formatting_off.sh
      shell: bash
    - name: Build with Mise
      run: ./build_and_test.sh
      shell: bash
    - name: Set up JDK8 for runtime testing
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '8'
    - uses: actions/checkout@v5
      with:
        repository: approvals/ApprovalTests.Java.StarterProject
    - name: Use local build
      run: |
        sed -i '/<artifactId>approvaltests<\/artifactId>/{N;s/<version>.*<\/version>/<version>100.0.0-SNAPSHOT<\/version>/}' pom.xml
    - name: Setup Maven Wrapper for Java 8 compatibility
      run: |
        mvn wrapper:wrapper -Dmaven=3.8.8
    - name: Run in JDK8
      run: |
        java -version
        ./mvnw verify
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: always()
      with:
        report_paths: '**/target/surefire-reports/*.xml'
