name: Update markdown snippets

on:
  push:
  workflow_dispatch:

jobs:
  update-markdown-snippets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run MarkdownSnippets
        run: |
          dotnet tool install --global MarkdownSnippets.Tool
          mdsnippets ${GITHUB_WORKSPACE}
        shell: bash
      - name: Git Commit and Push
        uses: github-actions-x/commit@v2.9
        with:
          github-token: "${secrets.GITHUB_TOKEN}"
          commit-message: "d updated markdown snippets"
          rebase: 'true'
    
